<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

# 4.데이터프레임 변경

- 데이터 전처리를 위해 꼭 익혀두어야 할 내용입니다.
- 반복 학습과 실습을 통해서 익숙해져야 합니다.

In [ ]:
# 라이브러리 불러오기
import pandas as pd

In [ ]:
# 데이터 읽어오기
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/tips(2).csv'
tip = pd.read_csv(path)

# 확인
tip.head()

## 4.1.열 이름 변경

- 기존 데이터프레임의 열 이름을 적절히 변경해야 할 경우가 있습니다.
- 또는 집계 결과를 가진 열 이름을 이해하기 쉽게 변경해야 할 경우도 있습니다.

**1) 일부 열 이름 변경**

- **rename()** 메서드를 사용해 변경 전후의 열 이름을 딕셔너리 형태로 나열하는 방법으로 변경합니다.
- **inplace=True** 옵션을 설정해야 변경 사항이 실제 반영이 됩니다.
- 다음과 같이 열 이름을 변경합니다.
    - total_bill_amount → total_bill
    - male_female → sex
    - smoke_yes_no → smoker
    - week_name → day
    - dinner_lunch → time

In [ ]:
# rename() 함수로 열 이름 변경
tip.rename(columns={'total_bill_amount': 'total_bill',
                    'male_female': 'sex',
                    'smoke_yes_no': 'smoker',
                    'week_name': 'day',
                    'dinner_lunch': 'time'}, inplace=True)

# 확인
tip.head()

**2) 모든 열 이름 변경**

- 모든 열 이름을 변경할 때는 **columns** 속성을 변경합니다.
- 변경이 필요없는 열은 기존 이름을 부여해 변경합니다.

In [ ]:
# 모든 열 이름 변경
tip.columns = ['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

# 확인
tip.head()

## 4.2.열 추가

- 새로운 열을 추가하여 기존 데이터에서 계산된 결괏값을 저장해야할 경우가 있습니다.
- total_bill에 tip을 더한 값을 갖는 final_amt 열을 추가합니다.

In [ ]:
# final_amt 열 추가
tip['final_amt'] = tip['total_bill'] + tip['tip']

# 확인
tip.head()

- insert() 메서드를 사용하면 원하는 위치에 열을 추가할 수 있습니다.

In [ ]:
# tip 열 앞에 div_tb 열 추가
tip.insert(1, 'div_tb', tip['total_bill'] / tip['size'])

# 확인
tip.head()

## 4.3.열 삭제

- 뭔가를 삭제할 때는 **항상 조심x100** 해야 합니다.

**1) 열 하나 삭제**

- **drop()** 메서드를 사용해 열을 삭제합니다.
- axis=0: 행 삭제(기본 값)
- axis=1: 열 삭제
- **inplace=True** 옵션을 지정해야 실제로 반영이 됩니다.

In [ ]:
# 열 하나 삭제
tip.drop('final_amt', axis=1, inplace=True)

# 확인
tip.head()

**2) 여러 열 삭제**

- 삭제할 열을 리스트 형태로 전달해 한 번에 여러 열을 제거할 수 있습니다.

In [ ]:
# 열 두 개 삭제
tip.drop(['div_tb', 'day'], axis=1, inplace=True)

# 확인
tip.head()

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_20.png' width=120 align="left"/>

[문1] pandas 라이브러리를 불러오세요.

In [ ]:
# 라이브러리 불러오기

[문2] 다음 경로의 파일을 읽어 titanic 데이터프레임을 만드세요.

- 파일 경로: 'https://raw.githubusercontent.com/Jangrae/csv/master/titanic.csv'

**[titanic 데이터 셋 정보]**

- Survived: 생존여부(1=Yes, 0=No)
- Pclass: 객실등급(1=1st, 2=2nd, 3=3rd)
- Sex: 성별(male, female)
- Age: 나이
- Sibsp: 탑승한 형제자매, 배우자 수
- Parch: 탑승한 자녀, 부모 수
- Ticket: 티켓 번호
- Fare: 요금
- Cabin: 캐빈 번호
- Embarked: 출발한 항구((C=Cherbourg, Q=Queenstown, S=Southampton)

In [ ]:
# 파일 읽어오기

[문3] 상위 5개 행을 확인하세요.

In [ ]:
# 상위 5개 확인

[문4] 다음 요구사항에 맞게 순서대로 구문을 작성하고 확인하세요.

- 4-1) PassengerId, Name, Ticket, Cabin 열을 한 번에 삭제하세요.
- 4-2) Sex 열 이름을 Male로 변경하세요.
- 4-3) SibSp 열과 Parch 열의 값을 더한 결과를 갖는 Family 열을 추가하세요.
- 4-4) SibSp, Parch 두 열을 삭제하세요.
- 4-5) 결과를 확인하세요.

In [ ]:
# 4-1) PassengerId, Name, Ticket, Cabin 열 삭제


# 4-2) 열 이름 변경: Sex --> Male


# 4-3) Family = SibSp + Parch


# 4-4) SibSp, Parch 열 삭제


# 4-5) 확인

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_20e.png' width=45 align="left"/>

## 4.4.결측치 처리

- NaN 값, 즉 결측치는 정확한 분석을 방해합니다.
- NaN 값을 만나면 오류가 발생하는 함수도 있습니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/nan.png' width=700 align="left"/>

- NaN 값은 제거하든지 다른 값(예를 들면 평균값, 최빈값 등)으로 채워야 합니다.

**[airquality 데이터 셋 정보]**

- Ozone: 오존 농도  
- Solar.R: 태양복사량
- Wind: 풍속
- Temp: 기온
- Month: 월
- Day: 일

In [ ]:
# 데이터 읽어오기
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/airquality.csv'
air = pd.read_csv(path)

# 확인
air.head()

### 4.4.1.결측치 찾기

- 결측치 존재 여부를 확인하고 이를 어떻게 처리할 지 방법을 결정해야 합니다.
- 결측치를 확인할 수 있는 방법은 참 많습니다.

**1) info() 메서드로 확인**

In [ ]:
# 값 개수로 결측치 존재 여부 확인
air.info()

**2) isnull(), notnull() 메서드 사용**

- **isnull()** 메서드는 결측치면 True, 유효한 값이면 False를 반환합니다.
- **notnull()** 메서드는 결측치면 False, 유효한 값이면 True를 반환합니다.
- isnull() 대신 **isna()**, notnull() 대신 **notna()** 메서드를 사용해도 됩니다.

In [ ]:
# 전체 데이터 중에서 결측치는 True로 표시
air.isna()

In [ ]:
# 전체 데이터 중에서 결측치는 False로 표시
air.notna()

- **sum()** 메서드를 사용해 True 값의 개수, 즉 **열의 결측치 개수**를 확인할 수 있습니다.

In [ ]:
# 열의 결측치 개수 확인
air.isnull().sum()

### 4.4.2.결측치 제거

- **dropna()** 메서드로 결측치가 있는 열이나 행을 제거할 수 있습니다.
- inplace=True 옵션을 지정해야 해당 데이터프레임에 실제로 반영됩니다.
- axis 옵션으로 행을 제거할 지 열을 제거할 지 지정합니다.
    - axis=0: 행 제거(기본값)
    - axis=1: 열 제거

**1) 어떤 열이든 결측치가 있는 행 제거**

- dropna() 메서드는 기본적으로 어느 열이든 결측치가 있는 행을 제거합니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/dropna_01.png' width=300 align="left"/>

In [ ]:
# 데이터프레임 복사
air_test = air.copy()

# 열의 결측치 개수 확인
air_test.isnull().sum()

In [ ]:
# 결측치가 하나라도 있는 행 제거
air_test.dropna(axis=0, inplace=True)

# 확인
air_test.isna().sum()

**2) 특정 열에 결측치가 있는 행 제거**

- subset 옵션에 열을 지정해 해당 열에 결측치가 있는 행을 제거합니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/dropna_02.png' width=300 align="left"/>

In [ ]:
# 데이터프레임 복사
air_test = air.copy()

# Ozone 열이 결측치인 행 제거
air_test.dropna(subset=['Ozone'], axis=0, inplace=True)

# 확인
air_test.isna().sum()

**3) 결측치가 있는 모든 열 제거**

- axis=1 옵션을 지정해 열을 제거할 수 있습니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/dropna_03.png' width=300 align="left"/>

In [ ]:
# 데이터프레임 복사
air_test = air.copy()

# 결측치가 있는 열 제거
air_test.dropna(axis=1, inplace=True)

# 확인
air_test.isna().sum()

### 4.4.3.결측치 채우기

- **fillna()** 메서드를 사용해 결측치를 다른 값으로 채울 수 있습니다.

**1) 평균값으로 채우기**

- 결측치가 있는 열의 평균값을 구한 후 결측치를 그 값으로 채웁니다.

In [ ]:
# 데이터프레임 복사
air_test = air.copy()

# Ozone 평균 구하기
mean_Ozone = air_test['Ozone'].mean()

# 결측치를 평균값으로 채우기
air_test['Ozone'] = air_test['Ozone'].fillna(mean_Ozone)

# 확인
air_test.isna().sum()

**2) 특정 값으로 채우기**

- 모든 결측치, 또는 일부 결측치를 특정 값으로 채웁니다.

In [ ]:
# Solar.R 열의 누락된 값을 0으로 채우기
air_test['Solar.R'] = air_test['Solar.R'].fillna(0)

# 확인
air_test.isna().sum()

**4) 직전 행의 값 또는 바로 다음 행의 값으로 채우기**

- 결측치를 바로 앞의 값이나 바로 다음에 나오는 값으로 채웁니다.
- 날짜 또는 시간의 흐름에 따른 값을 갖는 시계열 데이터 처리시 유용합니다.
- **method='ffill'**: 바로 앞의 값으로 변경(Forward Fill)
- **method='bfill'**: 바로 다음 값으로 변경(Backward Fill)
- 참고: method 속성으로 'ffill', 'bfill'을 지정하는 대신 **ffill(), bfill()** 메서드 사용을 권고

<img src='https://raw.githubusercontent.com/Jangrae/img/master/ffill_bfill.png' width=600 align="left"/>

In [ ]:
# 데이터프레임 복사
air_test = air.copy()

# 결측치 확인
air_test.isna().sum()

In [ ]:
# Ozone 열의 누락된 값을 바로 앞의 값으로 채우기
# air_test['Ozone'] = air_test['Ozone'].fillna(method='ffill')
air_test['Ozone'] = air_test['Ozone'].ffill()

# Solar.R 열의 누락된 값을 바로 뒤의 값으로 채우기
# air_test['Solar.R'] = air_test['Solar.R'].fillna(method='bfill')
air_test['Solar.R'] = air_test['Solar.R'].bfill()

# 확인
air_test.isna().sum()

**5) 선형보간법으로 채우기**

- **interpolate()** 메서드를 사용해 선형보간법으로 채울 수 있습니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/interpolate.png' width=300 align="left"/>

In [ ]:
# 데이터프레임 복사
air_test = air.copy()

# 선형보간법으로 채우기
air_test['Ozone'] = air_test['Ozone'].interpolate(method='linear')
air_test['Solar.R'] = air_test['Solar.R'].interpolate(method='linear')

# 확인
air_test.isna().sum()

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_20.png' width=120 align="left"/>

[문1] 다음 요구사항에 맞게 순서대로 구문을 작성하고 확인하세요.

- 1-1) pandas 라이브러리를 pd 별칭을 주어 불러오세요.
- 1-2) 다음 경로의 파일을 읽어와 titanic 데이터프레임을 선언하세요.
    - 파일 경로: 'https://raw.githubusercontent.com/Jangrae/csv/master/titanic.csv'
- 1-3) PassengerId, Name, Ticket, Cabin 열을 한 번에 제거하세요.

In [ ]:
# 1-1) 라이브러리 불러오기


# 1-2) 데이터 읽어오기


# 1-3) PassengerId, Name, Ticket, Cabin 열 삭제

[문2] 상위 5개 행을 확인하세요.

In [ ]:
# 상위 5개 확인

[문3] 다음 요구사항에 맞게 순서대로 구문을 작성하고 확인하세요.

- 3-1) Age 열 결측치를 Age 열 평균으로 채우세요.
- 3-2) Embarked 열 결측치를 'S'로 채우세요.
- 3-3) 각 열에 결측치가 남아있는지 확인하세요.

In [ ]:
# 3-1) Age 결측치 평균으로 채우기


# 3-2) Embarked 결측치 'S'로 채우기


# 3-3) 결측치 존재여부 확인

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_20e.png' width=45 align="left"/>

## 4.5.데이터프레임 합치기(Concat)

- **concat()** 함수를 사용해 **인덱스 값을 기준으로** 두 데이터프레임을 가로 또는 세로로 합칠 수 있습니다.

### 4.5.1.가로로 합치기

- **axis=1** 옵션을 지정해 가로로 합칠 수 있습니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/concat_ax1.png' width=500, align="left"/>

**1) 데이터 읽어오기**

In [ ]:
# 서울 인구정보 읽어오기 #1
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h01.csv'
pop01 = pd.read_csv(path, index_col='year')
pop01.index.name = None

# 확인
pop01.head(10)

In [ ]:
# 서울 인구정보 읽어오기 #2
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h02.csv'
pop02 = pd.read_csv(path, index_col='year')
pop02.index.name = None

# 확인
pop02.head(10)

**2) 데이터프레임 합치기**

- 이제 **concat()** 함수를 사용해 두 데이터프레임을 합쳐봅니다.
- 가로로 합치므로 **axis=1** 옵션을 지정합니다.
- join='outer'는 기본 옵션값이므로 생략이 가능합니다.

In [ ]:
# 모든 열 합치기
pop = pd.concat([pop01, pop02], join='outer', axis=1)

# 확인
pop.head(10)

- pop02 데이터프레임에는 1981~1984년 데이터가 없어 합쳐진 결과에 결측치가 생깁니다.
- join='inner' 옵션을 지정하면 매핑되지 못한 행은 제외됩니다.

In [ ]:
# 모든 열 합치기
pop = pd.concat([pop01, pop02], join='inner', axis=1)

# 확인
pop.head(10)

### 4.5.2.세로로 합치기


- **axis=0** 옵션을 지정해 세로로 합칠 수 있습니다.(기본값)

<img src='https://raw.githubusercontent.com/Jangrae/img/master/concat_ax0.png' width=450, align="left"/>

**1) 데이터 읽어오기**

In [ ]:
# 서울 인구정보 읽어오기 #1
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_v01.csv'
pop01 = pd.read_csv(path)

# 확인
pop01.head(10)

In [ ]:
# 서울 인구정보 읽어오기 #2
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_v02.csv'
pop02 = pd.read_csv(path)

# 확인
pop02.head(10)

**2) 데이터프레임 합치기**

- 이제 **concat()** 함수를 사용해 두 데이터프레임을 합쳐봅니다.
- 세로로 합치므로 **axis=0** 옵션을 지정하거나 생략합니다.

In [ ]:
# 모든 행 합치기
pop = pd.concat([pop01, pop02], axis=0)

# 확인
pop.head(10)

- 세로로 합해지면 인덱스 값이 중복될 수 있으므로 인덱스를 초기화합니다.

In [ ]:
# 인덱스 초기화
pop.reset_index(drop=True, inplace=True)

# 확인
pop.head(10)

**3) 참고: 인구 변화량 시각화**

- 인구 변화량을 간단히 시각화 해봅니다.

In [ ]:
# 라이브러리 불러오기
import matplotlib.pyplot as plt

# 시각화
plt.plot(pop['year'], pop['k_male'])
plt.show()

- y축에 여러 값을 표시할 수 있습니다. 이때는 범례를 표시하는 것이 좋습니다.

In [ ]:
# 시각화
plt.plot(pop['year'], pop[['k_male', 'k_female']])
plt.legend(['k_male', 'k_female'])
plt.show()

## 4.6.데이터프레임 조인(Merge)

- **merge()** 함수를 사용 두 데이터프레임을 지정한 키 값을 기준으로 병합할 수 있습니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/join.png' width=600, align="left"/>

### 4.6.1.데이터 읽어오기

In [ ]:
# 서울 인구정보 읽어오기 #1
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h01.csv'
pop01 = pd.read_csv(path)

# 확인
pop01.head(10)

In [ ]:
# 서울 인구정보 읽어오기 #2
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h02.csv'
pop02 = pd.read_csv(path)

# 확인
pop02.head(10)

### 4.6.2.inner 조인

- 같은 이름의 열이 있으면 on 옵션을 지정하지 않아도 그 열을 기준으로 조인됩니다.
- 그래도 기준 열을 명시적으로 지정해 주기를 권고합니다.
- how='inner' 옵션은 기본 옵션값이므로 생략할 수 있습니다.

In [ ]:
# 조인
pop = pd.merge(pop01, pop02, on='year', how='inner')

# 확인
pop.head(10)

### 4.6.3.outer 조인

- how='outer' 옵션을 지정합니다.

In [ ]:
# 조인
pop = pd.merge(pop01, pop02, on='year',  how='outer')

# 확인
pop.head(10)

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_30.png' width=120 align="left"/>

[문1] 다음 요구사항에 맞게 순서대로 구문을 작성하고 확인하세요.

- 1-1) pandas 라이브러리를 pd 별칭을 주어 불러오세요.
- 1-2) 다음 경로의 파일들을 불러와 **pop01, pop02, pop03** 데이터프레임을 만드세요.
    - 단, read_csv() 함수 사용시  index_col='year' 옵션을 지정하세요.
    - 파일 경로: 'https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h01.csv'    
    - 파일 경로: 'https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h02.csv'
    - 파일 경로: 'https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h03.csv'
- 1-3) 세 개의 데이터프레임을 outer 방식으로 연결해 pop 데이터프레임을 만드세요.
- 1-4) pop 데이터프레임 인덱스를 초기화 하세요. 단 기존 인덱스 값을 버리지 마세요.

[문2] pop 데이터프레임 상위 10개 행을 확인하세요.

[문3] 결측치가 어느 정도 존재하는 지 확인하세요.

[문4] 모든 결측치는 뒤에 오는 값으로 채우세요.

[문5] 결측치가 남아 있는지 확인하세요.

[문6] 다음 요구사항에 맞게 순서대로 구문을 작성하고 확인하세요.

- 6-1) pandas 라이브러리를 pd 별칭을 주어 불러오세요.
- 6-2) 다음 경로의 파일들을 불러와 **pop01, pop02, pop03** 데이터프레임을 만드세요.
    - 파일 경로: 'https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h01.csv'    
    - 파일 경로: 'https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h02.csv'
    - 파일 경로: 'https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h03.csv'
- 6-3) 세 개의 데이터프레임을 inner 방식으로 **조인(merge)**해 pop 데이터프레임을 만드세요.

[문7] pop 데이터프레임 상위 10개 행을 확인하세요.

[문8] 다음 요구사항에 맞게 순서대로 구문을 작성하고 확인하세요.

- 8-1) 다음 공식에 따라 pop 데이터프레임에 k_total, f_total, male, female, total 열을 추가하세요.
    - k_total = k_male + k_female
    - f_total = f_male + f_female
    - male = k_male + f_male
    - female = k_female + f_female
    - total = k_total + f_total
- 8-2) year, total, male, female 열만 추출해 pop_sum 데이터프레임을 선언하세요.
- 8-3) pop_sum 데이터프레임 상위 10개 행을 조회하세요.

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_30e.png' width=45 align="left"/>